*.sw[op]
*.pyc
auto-save-list/

# Emacs
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/tramp
emacs/.emacs.d/elpa/
emacs/.emacs.d/javaguirre.el
emacs/.emacs.d/.cask
emacs/.emacs.d/recentf
emacs/.emacs.d/var

# TMUX
tmux/.tmux/

# Atom
atom/.atom/.apm/
atom/.atom/.node-gyp/
atom/.atom/blob-store/
atom/.atom/compile-cache/
atom/.atom/packages/
atom/.atom/storage/
