"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "ample-syntax"
    ]
    projectHome: "/Users/javaguirre/code/github"
    packagesWithKeymapsDisabled: [
      "terminal-plus"
    ]
    disabledPackages: [
      "metrics"
    ]
  editor:
    invisibles: {}
    fontSize: 13
    showIndentGuide: true
    fontFamily: "Envy Code R"
    tabLength: 4
  "vim-mode": {}
  "terminal-plus":
    core: {}
    style:
      fontFamily: "Envy Code R"
    toggles:
      autoClose: true
    ansiColors:
      normal:
        black:
          red: 40
          green: 42
          blue: 46
          alpha: 1
        blue:
          red: 95
          green: 129
          blue: 157
          alpha: 1
        cyan:
          red: 94
          green: 141
          blue: 135
          alpha: 1
        green:
          red: 140
          green: 148
          blue: 64
          alpha: 1
        magenta:
          red: 133
          green: 103
          blue: 143
          alpha: 1
        red:
          red: 165
          green: 66
          blue: 66
          alpha: 1
        white:
          red: 150
          green: 152
          blue: 150
          alpha: 1
        yellow:
          red: 222
          green: 147
          blue: 95
          alpha: 1
      zBright:
        brightBlack:
          red: 55
          green: 59
          blue: 65
          alpha: 1
        brightBlue:
          red: 129
          green: 162
          blue: 190
          alpha: 1
        brightCyan:
          red: 138
          green: 190
          blue: 183
          alpha: 1
        brightGreen:
          red: 181
          green: 189
          blue: 104
          alpha: 1
        brightMagenta:
          red: 178
          green: 148
          blue: 187
          alpha: 1
        brightRed:
          red: 204
          green: 102
          blue: 102
          alpha: 1
        brightWhite:
          red: 197
          green: 200
          blue: 198
          alpha: 1
        brightYellow:
          red: 255
          green: 255
          blue: 85
          alpha: 1
  "autocomplete-plus": {}
  "atom-autocomplete-php": {}
  emmet: {}
  "todo-show": {}
  minimap:
    plugins:
      "highlight-selected": true
  "highlight-selected": {}
  "atom-beautify": {}
  "remote-edit": {}
  "ctags-status": {}
  "rest-client": {}
  "linter-golinter":
    executablePath: "/Users/javaguirre/code/go/bin/golint"
  "go-plus":
    goPath: "/Users/javaguirre/code/go"
    goInstallation: "/usr/local/opt/go/libexec"
".ini.source":
  editor:
    tabLength: 4
