"*":
  "atom-autocomplete-php": {}
  "atom-beautify": {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "metrics"
      "go-plus"
      "language-swift"
      "linter-phpcs"
      "autocomplete-python"
      "minimap"
    ]
    packagesWithKeymapsDisabled: [
      "terminal-plus"
    ]
    projectHome: "/Users/javaguirre/code/github"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-light"
    ]
  "ctags-status": {}
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontFamily: "Mononoki"
    fontSize: 12
    invisibles:
      cr: " "
      eol: " "
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "69de5860-5660-7590-fba3-d26130e8ad91"
  "go-plus":
    goInstallation: "/usr/local/opt/go/libexec"
    goPath: "/Users/javaguirre/code/go"
  "highlight-selected": {}
  linter:
    showErrorPanel: false
  "linter-golinter":
    executablePath: "/Users/javaguirre/code/go/bin/golint"
  "linter-pep8":
    ignoreErrorCodes: [
      "E265"
    ]
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "remote-edit": {}
  "rest-client": {}
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          red: 88
          green: 157
          blue: 246
          alpha: 1
        cyan:
          red: 31
          green: 158
          blue: 231
          alpha: 1
        green:
          red: 33
          green: 176
          blue: 137
          alpha: 1
        magenta:
          red: 148
          green: 77
          blue: 149
          alpha: 1
        red:
          red: 249
          green: 85
          blue: 95
          alpha: 1
        white:
          red: 187
          green: 187
          blue: 187
          alpha: 1
        yellow:
          red: 254
          green: 240
          blue: 42
          alpha: 1
      zBright:
        brightBlack:
          red: 85
          green: 85
          blue: 85
          alpha: 1
        brightBlue:
          red: 88
          green: 157
          blue: 246
          alpha: 1
        brightCyan:
          red: 57
          green: 121
          blue: 188
          alpha: 1
        brightGreen:
          red: 53
          green: 187
          blue: 154
          alpha: 1
        brightMagenta:
          red: 231
          green: 86
          blue: 153
          alpha: 1
        brightRed:
          red: 250
          green: 140
          blue: 143
          alpha: 1
        brightYellow:
          red: 255
          green: 255
          blue: 85
          alpha: 1
    core: {}
    style:
      fontFamily: "Source Code Pro for Powerline"
    toggles:
      autoClose: true
  "todo-show": {}
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
